h2{
    color: red;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 20px;
}

h7{
    font-size: 20px;
}
h8{
    font-size: 20px;
}
h9{
    font-size: 15px;
}